@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}

@media screen and (max-width:480px) {
    main {
  	    width: 100%;
	}
}

html
{
    max-height: 100px;
    min-height: 100px;
}


body
{
    position:relative;
    background-position: center center;
    background-image:url("../img/character.png"),
                     url("../img/sakura.png");  
	background-repeat: no-repeat;
	background-position: top;  
    background-size: 32%,
                     620%; 
} 

@media (max-width: 768px)
{
    body
    {
        background-position: center center;
        background-image:url("../img/character.png"),
                         url("../img/sakura.png");  
	    background-repeat: no-repeat;
	    background-position: top;  
        background-size: 120%,
                         620%; 
    }
} 

h1 
{
    font-family:'Kaushan Script';
    color:red;
    text-align: center;
    margin:0;
    padding:0;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: whitesmoke;
}

h2
{
    bottom:0;
    font-size:150%;
    color:red;
    text-align: right;
    line-height: 30px;
    padding-right: 2%;
    margin: 1%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
}

h3
{
    font-size: 180px;
    margin:0;
}

h4
{
    text-align: center;
    color: blue;
}

#profile 
{
    font-size:120%;
    color: blue;
    text-align: center;
    margin-bottom: 3%;
    margin: 0%;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: whitesmoke;
}

#LinkForm
{
    font-size:100%;
    text-align: center;
}

#SuperLink
{
    width: 45%;
    height: 250%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 30%);
    margin-left: 35%;
    margin-bottom: 2%;
    padding-left: 5%;
}

#link
{
    font-size:100%;
    text-align: center;
}

#mail
{
    font-size:90%;
    width:100%;
    text-align: center;
}

#count
{
    position: absolute;
    bottom:0;
    font-size:100%;
    width:100%;
    text-align: center;
    margin-bottom: 5%;
}

iframe 
{
    margin-left: 30%;
}

/*戻るボタン設定*/
.back_btn
{
  margin-left: 5%;
}

/* スクリーンサイズが768px以上（PCなど）の場合に適用 */
@media (min-width: 768px)
{
    .back_btn
    {
        margin-left: 10%
    }
}